.jumbotron {
    display: flex;
    align-items: center;
    /*background-image: url('images/background-image-2.jpg');*/
    background: linear-gradient(to bottom, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
    background-size: cover;
    color: #fff;
    text-shadow: 0.25px 0.25px 0.25px #000;
    font-family: 'Coustard', serif;
}

.jumbotron h2{
    color: white;
}

.jumbotron h3{
    color: white;
}

.jumbotron p{
    color: white;
}

.skillicon {
    margin-top: 16px;
    margin-bottom: 16px;
}

.skillicon p{
    font-size: 2rem;
    padding-top: 10px;
}

.skillicon i{
    font-size: 8rem;
}

.contactlinks {
    margin: 5px;
    display: inline-block;
}

.contactlinks i{
    font-size: 4rem;
    text-align: center;
}

#aboutme {
    font-family: 'Coustard', serif;
    font-size: 2rem;
}

.projects {
    font-family: 'Coustard', serif;
    font-size: 1.5rem;
}

.projectgallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.projectblock {
    margin: 20px;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
    border: 2px solid #ffa73d;
    box-shadow: 10px 10px 5px #ffa73d;
}

.projectblock img{
    width: 320px;
    height: 240px;
}

.hackathons {
    font-family: 'Coustard', serif;
    font-size: 2rem;
}

.hackathons img{
    margin: 20px;
    padding: 5px;
    border: 4px dashed;
    width: 80%;
    height: 80%;
}

footer {
    margin: 20px;
    align-items: center;
    text-align: center;
}

.mynav {

}

.mynav p{
    border: 1px solid #ff7c00;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
}