.navbutton {
    float: right;
}

.navbutton a{
    cursor: pointer;
    margin-right: 30px;
    padding: 8px 18px;
    border: 1px solid #204156;
    position: relative;
}

.navbutton a:active {
    top: 2px;
}

.navbutton a:link{
    text-decoration: none;
}

header {
    padding: 20px 0;
}

header .row{
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
    font-family: 'Coustard', serif;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header p {
    border-radius: 4px;
    text-align: center;
    width: 12rem;
    height: 4rem;
    padding: 10px;
    margin: 10px;
    font-family: 'Coustard', serif;
    box-shadow: 10px 10px 5px #defdef;
}

h1 {
    padding-bottom: 20px;
}

p {
    padding-left: 50px;
    padding-right: 50px;
}

#faceimage {
    border: 10px solid #fff;
    border-radius: 50%;
}

.jumbotron {
    display: flex;
    align-items: center;
    /*background-image: url('images/background-image-2.jpg');*/
    background: linear-gradient(to bottom, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
    background-size: cover;
    text-shadow: 0.25px 0.25px 0.25px #000;
    font-family: 'Coustard', serif;
}

.skillicon {
    margin-top: 16px;
    margin-bottom: 16px;
}

.skillicon p{
    font-size: 2rem;
    padding-top: 10px;
}

.skillicon i{
    font-size: 8rem;
}

.contactlinks {
    margin: 5px;
    display: inline-block;
}

.contactlinks i{
    font-size: 4rem;
    text-align: center;
}

#aboutme {
    font-family: 'Coustard', serif;
    font-size: 2rem;
}

#projects {
    font-family: 'Coustard', serif;
    font-size: 1.5rem;
}

.projectgallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.projectblock {
    margin: 20px;
    padding: 10px 10px 10px 10px;
    box-shadow: 10px 10px 5px #defdef;
}

.projectblock img{
    width: 320px;
    height: 240px;
}

.hackathons {
    font-family: 'Coustard', serif;
    font-size: 2rem;
}

.hackathons img{
    margin: 20px;
    padding: 5px;
    border: 4px dashed;
    width: 80%;
    height: 80%;
}

footer {
    margin: 20px;
    align-items: center;
    text-align: center;
}
