header {
    padding: 20px 0;
}

header .row,
footer .row{
    display: flex;
    align-items: center;
}

header h1{
    font-weight: 700;
    margin: 0;
}

header nav{
    display: flex;
    justify-content: flex-end;
}

header p{
    padding: 0 20px;
    margin: 0;
}

.jumbotron {
    display: flex;
    align-items: center;
    /*background-image: url('images/background-image-2.jpg');*/
    background: linear-gradient(to bottom, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
    background-size: cover;
    color: #fff;
    text-shadow: 0.25px 0.25px 0.25px #000;
}

.jumbotron h2{
    color: white;
}

.jumbotron h3{
    color: white;
}